@font-face
  font-family: 'League Spartan'
  src: url('/assets/font/LeagueSpartan-VF.woff2') format('woff2-variations')
  font-weight: 200 900

.home-wrapper
  .banner
    margin-top: 0 !important
    padding-top: 3.6rem

    .banner-content
      .hero
        text-shadow: 0.15rem 0.15rem 0.4rem black

        .description
          font-size: 2.25rem !important
          font-family: 'League Spartan'
          font-weight: 500

          @media (max-width: 1025px)
            font-size: 1.75rem !important

  .main-wrapper
    .main-left
      .post-list
        margin-bottom: 2rem

      .pagination
        margin-bottom: 2rem !important

      .theme-vdoing-content
        display: none

    .main-right
      margin-block-end: 2rem

.content-wrapper
  .custom-block.abstract
    margin: 1rem 0
    padding: 0.5rem 1rem
    font-size: 95%
    background-color: var(--customBlockBg)
    opacity: 0.8

    a
      color: var(--textLightenColor)

  .custom-block.img
    text-align: center
    font-size: 90%
    max-width: 600px
    margin-inline-start: auto
    margin-inline-end: auto

    span
      white-space: nowrap

.home-wrapper
  .custom-block
    margin: 1em 0

.footer
  padding-top: 0 !important

h-char[unicode=b7]
  h-inner
    display: inline-block
    text-align: center
    width: 1em