@font-face
  font-family 'League Spartan'
  src url('/assets/font/LeagueSpartan-VF.woff2') format('woff2-variations')
  font-weight 200 900

.content-wrapper
  .custom-block.abstract, .license
    margin 1rem 0
    padding 0.5rem 1rem
    font-size 95%
    background-color var(--customBlockBg)
    opacity 0.8

    a
      color var(--textLightenColor)

  .custom-block.img
    text-align center
    font-size 90%
    max-width 600px
    margin-inline-start auto
    margin-inline-end auto

    p
      margin 0.5em 0

      span
        white-space nowrap

.home-wrapper
  .custom-block
    margin 1em 0

h-char[unicode=b7]
  h-inner
    display inline-block
    text-align center
    width 1em